@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write your own custom component styles here */
.btn-blue {
  @apply px-4 py-2 font-bold text-white bg-blue-500 rounded;
}

* {
  font-family: 'Inter Var', 'Inter', sans-serif;
}

pre,
code,
code span {
  font-family: 'Fira Code', monospace !important;
}

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
@supports (position: sticky) {
  @media (min-width: theme('screens.lg')) {
    .sticky\?lg\:h-screen {
      height: 100vh !important;
    }
    .sticky\?lg\:h-\(screen-16\) {
      height: calc(100vh - theme('spacing.16'));
    }
  }
}

.content-container :target {
  /* <Search />'s h-16 + more spacing */
  scroll-margin-top: theme('spacing.20');
}

.content-container ul > li {
  @apply my-2;
}

.content-container ul > li:before {
  content: '—';
  @apply inline-block mr-3 text-gray-300;
}

.content-container pre {
  @apply p-4 mb-8 overflow-hidden overflow-x-auto text-sm bg-gray-900 rounded;
}

.content-container a {
  @apply text-blue-400;
}

.content-container .heading {
  @apply block font-bold text-gray-900 no-underline hover:text-gray-600 hover:underline;
}

blockquote p {
  @apply text-gray-400 !important;
}

table {
  min-width: 600px;
}

th {
  @apply px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wide;
}

thead {
  @apply bg-gray-50;
}

tbody tr:nth-child(even) {
  @apply bg-white;
}

tbody tr:nth-child(odd) {
  @apply bg-gray-50;
}

td {
  @apply px-6 py-4 text-sm font-medium text-gray-900;
  max-width: 150px;
}

.grid-list li {
  @apply text-base text-gray-700;
}

.grid-list li a {
  @apply mb-2 block;
}

ul.grid-list > li:before {
  display: none;
}

@layer utilities {
  @responsive {
    .scrolling-touch {
      -webkit-overflow-scrolling: touch;
    }
    .scrolling-auto {
      -webkit-overflow-scrolling: auto;
    }
  }
}

.youtube-embed {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  width: 100%;
  overflow: hidden;
  border-radius: 20px;
  border: 1px solid #e1e8ed;
  margin: 2em 0;
}

.youtube-embed iframe,
.youtube-embed object,
.youtube-embed embed {
  @apply absolute top-0 left-0 w-full h-full;
}

.icon-container {
  @apply block absolute;
  width: 64px !important;
  height: 64px !important;
  border-radius: 50% !important;
  overflow: hidden !important;
  flex: 0 0 80px !important;
  bottom: 16px;
  right: 16px;
}

.icon-container > img {
  width: 68px;
  height: 68px;
  display: block;
}

#intro-demos {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  margin: 2em auto;
  max-width: 900px;
}
#intro-demos .demo-cell {
  padding-right: 10px;
}

#intro-demos .demo-cell img.laptop {
  max-width: 410px;
}

#intro-demos .demo-cell img {
  width: 100%;
  margin-right: 10px;
}

#intro-demos .demo-cell img.tablet {
  max-width: 280px;
}

#intro-demos .demo-cell img.phone {
  max-width: 90px;
}

.search-item.focus-visible li > div {
  @apply bg-gray-800 text-gray-200;
}
