@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write your own custom component styles here */
.btn-blue {
  @apply px-4 py-2 font-bold text-white bg-blue-500 rounded;
}

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
@supports (position: sticky) {
  @media (min-width: theme('screens.lg')) {
    .sticky\?lg\:h-screen {
      height: 100vh !important;
    }
    .sticky\?lg\:h-\(screen-16\) {
      height: calc(100vh - theme('spacing.16'));
    }
  }
}

.content-container ul > li {
  @apply my-2;
}
.content-container ul > li:before {
  content: '—';
  @apply inline-block mr-3 text-gray-300;
}

.content-container pre {
  @apply p-4 mb-8 text-sm bg-gray-900 rounded;
}
