.highlight {
  background: #1ea7fd2b;
  border-radius: 4px;
}
.widget {
  border: 1px solid #1ea7fd;
  border-radius: 2px;
  padding: 2px 4px 2px 12px;
  margin-left: 6px;
  position: relative;
  cursor: pointer;
}

.widget:before {
  content: attr(data-id);
  background: #1ea7fd;
  border-radius: 100%;
  position: absolute;
  width: 16px;
  display: block;
  height: 16px;
  left: -8px;
  top: 2px;
  font-size: 11px;
  text-align: center;
  color: white;
  line-height: 17px;
}
