@tailwind base;

/* Write your own custom base styles here */

:root {
  scroll-behavior: smooth;
  --header-height: 4rem; /* TODO: make this value dynamic */
  scroll-margin-top: var(--header-height);
  font-size: 17px;

  --icon-copy: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' stroke='rgba(128,128,128,1)' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' viewBox='0 0 24 24'%3E%3Crect width='8' height='4' x='8' y='2' rx='1' ry='1'/%3E%3Cpath d='M16 4h2a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h2'/%3E%3C/svg%3E");
  --icon-copied: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' stroke='rgba(128,128,128,1)' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' viewBox='0 0 24 24'%3E%3Crect width='8' height='4' x='8' y='2' rx='1' ry='1'/%3E%3Cpath d='M16 4h2a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h2'/%3E%3Cpath d='m9 14 2 2 4-4'/%3E%3C/svg%3E");
}

body {
  font-optical-sizing: auto;
}

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
@supports (position: sticky) {
  @media (min-width: theme('screens.lg')) {
    .sticky\?lg\:h-screen {
      height: 100vh !important;
    }
    .sticky\?lg\:h-\(screen-16\) {
      height: calc(100vh - theme('spacing.16'));
    }
  }
}

.content-container :target {
  scroll-margin-top: theme('spacing.20'); /* <Search />'s h-16 + more spacing */
}

/**
 * Pmndrs theme for JavaScript, CSS and HTML
 * Loosely based on https://marketplace.visualstudio.com/items?itemName=pmndrs.pmndrs
 * @author Paul Henschel
 */

code[class*='language-'],
pre[class*='language-'] {
  background: none;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  tab-size: 4;
  hyphens: none;
}

/* Code blocks */
pre[class*='language-'] {
  --comment: #a6accd;
  --punctuation: #e4f0fb;
  --property: #e4f0fb;
  --boolean: #5de4c7;
  --string: #5de4c7;
  --operator: #add7ff;
  --function: #5de4c7;
  --keyword: #add7ff;
  --literal: #fffac2;
  --falsy: #f087bd;
  --linenumber-border-width: theme('space.1');
  --pad: theme('space.6');

  @apply my-5 overflow-auto rounded-lg p-[--pad] font-mono text-sm;
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
  @apply bg-inverse-surface-light;
}

/* Inline code */
:not(pre) > code[class*='language-'] {
  @apply rounded-lg;
  white-space: normal;
}

.token.namespace {
  opacity: 0.7;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: var(--comment);
}

.token.punctuation {
  color: var(--punctuation);
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: var(--property);
}

.token.boolean,
.token.number {
  color: var(--boolean);
}

.token.selector,
.token.attr-value,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: var(--string);
}

.token.attr-name,
.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: var(--operator);
}

.token.atrule,
.token.function,
.token.class-name {
  color: var(--function);
}

.token.keyword {
  color: var(--keyword);
}

.token.regex,
.token.important {
  color: var(--literal);
}

.token.deleted {
  color: var(--falsy);
}

.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

/*
 * For line highlighting and line numbers
 *
 * - from https://github.com/timlrx/rehype-prism-plus?tab=readme-ov-file#styling)
 * - adapted with `--pad` prop (value from pre's padding)
 */

.code-highlight {
  float: left; /* 1 */
  min-width: 100%; /* 2 */
}

.code-line {
  display: block;
  border-left: var(--linenumber-border-width) solid transparent; /* Set placeholder for highlight accent border color to transparent */

  @apply -mx-[--pad] px-[--pad];
}

.code-line.inserted {
  @apply bg-tip-container-dark/30;
}
.code-line.deleted {
  @apply bg-error-container-dark/30;
}

.highlight-line {
  border-left: var(--linenumber-border-width) solid; /* Set highlight accent border color */
  @apply -mx-[--pad] border-l-inverse-surface-dark/50 bg-inverse-surface-dark/10;
}

.line-number::before {
  --w: 3ch;
  content: attr(line);
  display: inline-block;
  width: var(--w);
  text-align: right;
  color: var(--comment); /* Line number color */

  @apply mr-[calc(var(--pad)/2)];
}

div[class*='container-language-'] {
  @apply relative;
}
div[class*='container-language-']:hover .copy,
div[class*='container-language-'] .copy:focus {
  @apply opacity-100;
}
div[class*='container-language-']:hover .copy:not(.copied):hover {
  @apply bg-surface-variant-dark;
}
div[class*='container-language-'] .copy {
  direction: ltr;
  background-image: var(--icon-copy);
  background-size: 20px;
  transition:
    border-color 0.25s,
    background-color 0.25s,
    opacity 0.25s;

  @apply bg-inverse-surface-light absolute right-4 top-4 z-10 size-10 cursor-pointer rounded border border-white/25 bg-center bg-no-repeat opacity-0;
}
div[class*='container-language-'] .copy.copied {
  background-image: var(--icon-copied);

  @apply rounded-l-none;
}
div[class*='container-language-'] .copy.copied:before {
  transform: translate(calc(-100% - 1px));
  content: 'Copied';

  @apply bg-inverse-surface-light relative -top-px flex h-10 w-fit items-center justify-center whitespace-nowrap rounded-l border border-r-0 border-white/25 px-2.5 text-center text-xs font-medium text-[#808080];
}
