@tailwind base;

/* Write your own custom base styles here */

:root {
  scroll-behavior: smooth;
  --header-height: 4rem; /* TODO: make this value dynamic */
  scroll-margin-top: var(--header-height);
  font-size: 17px;
}

body {
  font-optical-sizing: auto;
}

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
@supports (position: sticky) {
  @media (min-width: theme('screens.lg')) {
    .sticky\?lg\:h-screen {
      height: 100vh !important;
    }
    .sticky\?lg\:h-\(screen-16\) {
      height: calc(100vh - theme('spacing.16'));
    }
  }
}

.content-container :target {
  scroll-margin-top: theme('spacing.20'); /* <Search />'s h-16 + more spacing */
}

/**
 * Pmndrs theme for JavaScript, CSS and HTML
 * Loosely based on https://marketplace.visualstudio.com/items?itemName=pmndrs.pmndrs
 * @author Paul Henschel
 */

code[class*='language-'],
pre[class*='language-'] {
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  tab-size: 4;
  hyphens: none;
}

/* Code blocks */
pre[class*='language-'] {
  --comment: #a6accd;
  --punctuation: #e4f0fb;
  --property: #e4f0fb;
  --boolean: #5de4c7;
  --string: #5de4c7;
  --operator: #add7ff;
  --function: #5de4c7;
  --keyword: #add7ff;
  --literal: #fffac2;
  --falsy: #f087bd;
  --linenumber-border-width: theme('space.1');
  --pad: theme('space.6');
}

/* Inline code */
:not(pre) > code {
  @apply bg-surface-container-high rounded-lg px-1.5 py-0.5 font-mono text-[85%];
  white-space: normal;
}

.token.namespace {
  opacity: 0.7;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: var(--comment);
}

.token.punctuation {
  color: var(--punctuation);
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: var(--property);
}

.token.boolean,
.token.number {
  color: var(--boolean);
}

.token.selector,
.token.attr-value,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: var(--string);
}

.token.attr-name,
.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: var(--operator);
}

.token.atrule,
.token.function,
.token.class-name {
  color: var(--function);
}

.token.keyword {
  color: var(--keyword);
}

.token.regex,
.token.important {
  color: var(--literal);
}

.token.deleted {
  color: var(--falsy);
}

.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

/*
 * For line highlighting and line numbers
 *
 * - from https://github.com/timlrx/rehype-prism-plus?tab=readme-ov-file#styling)
 * - adapted with `--pad` prop (value from pre's padding)
 */

.code-highlight {
  float: left; /* 1 */
  min-width: 100%; /* 2 */
}

.code-line {
  display: block;
  border-left: var(--linenumber-border-width) solid transparent; /* Set placeholder for highlight accent border color to transparent */

  @apply -mx-[--pad] px-[--pad];
}

.code-line.inserted {
  @apply bg-tip-container-dark/30;
}
.code-line.deleted {
  @apply bg-error-container-dark/30;
}

.highlight-line {
  border-left: var(--linenumber-border-width) solid; /* Set highlight accent border color */
  @apply -mx-[--pad] border-l-inverse-surface-dark/50 bg-inverse-surface-dark/10;
}

.line-number::before {
  --w: 3ch;
  content: attr(line);
  display: inline-block;
  width: var(--w);
  text-align: right;
  color: var(--comment); /* Line number color */

  @apply mr-[calc(var(--pad)/2)];
}
