:root {
  --sb-background: white;
  --sb-foreground: black;
}
.dark {
  --sb-background: black;
  --sb-foreground: white;
}

body:not(:has(.sbdocs)),
.docs-story {
  background: var(--sb-background);
  color: var(--sb-foreground);
}
