// fonts
// https://npm.im/inter-ui
// https://github.com/rsms/inter

$font-display: swap;
$font-family: "Inter";
$font-path: "https://cdn.jsdelivr.net/npm/inter-ui/Inter%20(web)/";

@mixin fontface($weight, $style, $name) {
  @font-face {
    font-display: $font-display;
    font-family: $font-family;
    font-style: $style;
    font-weight: $weight;
    src: url("#{$font-path}Inter-#{$name}.woff2") format("woff2"), url("#{$font-path}Inter-#{$name}.woff") format("woff");
  }
}

// include fonts
@include fontface(100, italic, ThinItalic);
@include fontface(100, normal, Thin);
@include fontface(200, italic, ExtraLightItalic);
@include fontface(200, normal, ExtraLight);
@include fontface(300, italic, LightItalic);
@include fontface(300, normal, Light);
@include fontface(400, italic, Italic);
@include fontface(400, normal, Regular);
@include fontface(500, italic, MediumItalic);
@include fontface(500, normal, Medium);
@include fontface(600, italic, SemiBoldItalic);
@include fontface(600, normal, SemiBold);
@include fontface(700, italic, BoldItalic);
@include fontface(700, normal, Bold);
@include fontface(800, italic, ExtraBoldItalic);
@include fontface(800, normal, ExtraBold);
@include fontface(900, italic, BlackItalic);
@include fontface(900, normal, Black);

// variable fonts
@mixin variablefont($style, $weight, $instance, $name) {
  @font-face {
    font-display: $font-display;
    font-family: "#{$font-family} var";
    font-style: $style;
    font-weight: $weight;
    font-named-instance: $instance;
    src: url("#{$font-path}Inter-#{$name}.woff2") format("woff2");
  }
}

@include variablefont(normal, "100 900", Regular, "roman.var");
@include variablefont(italic, "100 900", Italic, "italic.var");

// variable experimental
@font-face {
  font-display: $font-display;
  font-family: "#{$font-family} var experimental";
  font-style: oblique 0deg 10deg;
  font-weight: 100 900;
  src: url("#{$font-path}Inter.var.woff2") format("woff2");
}

$font-main: -apple-system, BlinkMacSystemFont, "Inter var", "Inter", "Segoe UI", "Helvetica Neue", Helvetica, Arial, Roboto, Ubuntu, sans-serif;
$font-mono: SFMono-Regular, Menlo, Monaco, Consolas, "Courier New", monospace;

:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
}

html {
  font-family: $font-main;
  font-size: 10px;
}

body {
  font-size: 1.3rem;
}
