@mixin no-select {
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

html,
body {
  @include no-select;
  background-color: $c095;
  margin: 0;
  padding: 0;
  color: $c000;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a,
a:active,
a:hover,
a:visited {
  color: currentColor;
  outline: 0;
}

main {
  align-items: center;
  display: flex;
  height: 90vh;
  justify-content: center;
  width: 100%;

  h1 {
    font-size: 4rem;
    font-weight: 600;
  }
}
