name: CI

on:
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Local build with MDX=docs
        run: npm run build
        env:
          MDX: docs
          NEXT_PUBLIC_LIBNAME: "Poimandres"
          NEXT_PUBLIC_LIBNAME_SHORT: "pmndrs"
          NEXT_PUBLIC_LIBNAME_DOTSUFFIX_LABEL: "docs"
          NEXT_PUBLIC_LIBNAME_DOTSUFFIX_HREF: "https://docs.pmnd.rs"
          BASE_PATH: ""
          DIST_DIR: ""
          OUTPUT: export
          HOME_REDIRECT: /getting-started/introduction
          MDX_BASEURL: ""
          SOURCECODE_BASEURL: ""
          EDIT_BASEURL: ""
          NEXT_PUBLIC_URL: ""
          ICON: ""
          LOGO: gutenberg.jpg
          GITHUB: https://github.com/pmndrs/docs
          DISCORD: https://discord.com/channels/740090768164651008/1264328004172255393
          THEME_PRIMARY: "#323e48"
          THEME_SCHEME: "tonalSpot"
          THEME_CONTRAST: "0"
          THEME_NOTE: "#1f6feb"
          THEME_TIP: "#238636"
          THEME_IMPORTANT: "#8957e5"
          THEME_WARNING: "#d29922"
          THEME_CAUTION: "#da3633"
          CONTRIBUTORS_PAT: ""

      - name: Deploy to Vercel Preview
        uses: amondnet/vercel-action@v25
        with:
          vercel-token: ${{ secrets.VERCEL_TOKEN }}
          vercel-org-id: ${{ secrets.VERCEL_ORG_ID }}
          vercel-project-id: ${{ secrets.VERCEL_PROJECT_ID }}
          working-directory: ./out

      - name: Docker build
        run: docker build -t pmndrs-docs .
