on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  lgtm:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v4
        with:
          cache: 'pnpm'
          node-version-file: '.nvmrc'
      - run: pnpm install --frozen-lockfile
      - run: pnpm run lgtm
