name: CI

on:
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Local build with MDX=docs
        run: npm run build
        env:
          MDX: docs
          NEXT_PUBLIC_LIBNAME: "Poimandres"

      - name: Deploy to Vercel Preview
        run: npx vercel deploy --token=${{ secrets.VERCEL_TOKEN }} ./out --yes
        env:
          VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
          VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}

      - name: Docker build
        run: docker build -t pmndrs-docs .

      - name: Docker run build test
        run: |
          cd docs
          docker run --rm --init \
            -v "./$MDX":/app/docs \
            -e MDX=docs \
            -e NEXT_PUBLIC_LIBNAME="Poimandres" \
            pmndrs-docs npm run build
        env:
          MDX: docs
